<a href="https://colab.research.google.com/github/ananya0809/Final-Project-NUS-HPE/blob/yash/DATA_CLEAN_TAC_JR8022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip"

--2022-07-17 05:43:07--  https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160343356 (153M) [application/x-httpd-php]
Saving to: ‘data.zip’

data.zip            100%[===================>] 152.92M  42.4MB/s    in 4.1s

2022-07-17 05:43:12 (37.0 MB/s) - ‘data.zip’ saved [160343356/160343356]

In [2]:
! unzip data.zip

Archive:  data.zip
  inflating: all_accelerometer_data_pids_13.csv
   creating: clean_tac/
  inflating: clean_tac/DK3500_clean_TAC.csv
  inflating: clean_tac/JR8022_clean_TAC.csv
  inflating: clean_tac/SA0297_clean_TAC.csv
  inflating: clean_tac/BU4707_clean_TAC.csv
  inflating: clean_tac/HV0618_clean_TAC.csv
  inflating: clean_tac/SF3079_clean_TAC.csv
  inflating: clean_tac/MJ8002_clean_TAC.csv
  inflating: clean_tac/CC6740_clean_TAC.csv
  inflating: clean_tac/PC6771_clean_TAC.csv
  inflating: clean_tac/MC7070_clean_TAC.csv
  inflating: clean_tac/DC6359_clean_TAC.csv
  inflating: clean_tac/BK7610_clean_TAC.csv
  inflating: clean_tac/JB3156_clean_TAC.csv
  inflating: phone_types.csv
  inflating: pids.txt
   creating: raw_tac/
  inflating: raw_tac/JR8022 CAM results.xlsx
  inflating: raw_tac/DK3500 CAM Results.xlsx
  inflating: raw_tac/MC7070 CAM Results.xlsx
  inflating: raw_tac/DC6359 CAM Results.xlsx
  inflating: raw_tac/HV0618 CAM Results.xlsx
  inflating: raw_tac/MJ8002 CAM Results.xlsx
  inflating: raw_tac/BK7610 CAM Results.xlsx
  inflating: raw_tac/BU4707 CAM results.xlsx
  inflating: raw_tac/SF3079 CAM Results.xlsx
  inflating: raw_tac/CC6740 CAM Results.xlsx
  inflating: raw_tac/JB3156 CAM Results.xlsx
  inflating: raw_tac/PC6771 CAM Results.xlsx
  inflating: raw_tac/SA0297 CAM Results.xlsx
  inflating: README.txt

**IMPORT HANDLING**

In [3]:
import pandas as pd

In [4]:
pid = "JR8022"

**LOADING TAC DATA**

In [5]:
tac_data = pd.read_csv('/content/clean_tac/' + pid + '_clean_TAC.csv')
tac_data

     timestamp  TAC_Reading
0   1493721062     0.000068
1   1493722885    -0.012196
2   1493723209    -0.008598
3   1493725033     0.017337
4   1493726857     0.059135
5   1493728697     0.101605
6   1493730538     0.129866
7   1493732379     0.137281
8   1493734222     0.127609
9   1493736063     0.110832
10  1493737904     0.096285
11  1493739745     0.088046
12  1493741586     0.085256
13  1493743427     0.086116
14  1493745269     0.091610
15  1493747096     0.105552
16  1493748937     0.130712
17  1493750778     0.164185
18  1493752618     0.196070
19  1493754459     0.213314
20  1493756304     0.206761
21  1493758144     0.176895
22  1493759985     0.134302
23  1493761826     0.094271
24  1493763668     0.068762
25  1493765508     0.060656
26  1493767350     0.063593
27  1493769191     0.067059
28  1493771031     0.063121
29  1493772871     0.050585
30  1493774712     0.034391
31  1493776553     0.021357
32  1493778393     0.015529
33  1493780233     0.016148
34  1493782057     0.019094
35  1493783881     0.020225
36  1493785705     0.018049
37  1493787528     0.014053
38  1493789351     0.010908
39  1493791175     0.010215
40  1493792997     0.011479
41  1493794821     0.012841
42  1493796643     0.012688
43  1493798466     0.010780
44  1493800288     0.008092
45  1493802111     0.005726
46  1493803934     0.003948

**LOADING THE ACCELEROMETER DATA -- XYZ DATA**

In [6]:
xyz_data = pd.read_csv("/content/all_accelerometer_data_pids_13.csv")
xyz_data = xyz_data.loc[xyz_data['pid'] == pid]
xyz_data.head()

                 time     pid       x       y       z
277668  1493737962462  JR8022  0.0058  0.0040  0.0076
277672  1493737962492  JR8022  0.0047 -0.0009 -0.0081
277676  1493737962512  JR8022 -0.0000  0.0053  0.0069
277680  1493737962541  JR8022 -0.0049  0.0060  0.0092
277684  1493737962568  JR8022 -0.0046  0.0047  0.0023

In [7]:
xyz_data.drop("pid", axis=1, inplace=True)

In [8]:
xyz_data = xyz_data.reset_index()
xyz_data.drop("index", axis=1, inplace=True)

In [9]:
xyz_data.head()

            time       x       y       z
0  1493737962462  0.0058  0.0040  0.0076
1  1493737962492  0.0047 -0.0009 -0.0081
2  1493737962512 -0.0000  0.0053  0.0069
3  1493737962541 -0.0049  0.0060  0.0092
4  1493737962568 -0.0046  0.0047  0.0023

In [10]:
def millisec_to_sec(t):
    return int(t/1000)

In [11]:
xyz_data_sec = xyz_data
xyz_data_sec['time_sec'] = xyz_data_sec['time'].apply(millisec_to_sec)

In [12]:
xyz_data_sec.head()

            time       x       y       z    time_sec
0  1493737962462  0.0058  0.0040  0.0076  1493737962
1  1493737962492  0.0047 -0.0009 -0.0081  1493737962
2  1493737962512 -0.0000  0.0053  0.0069  1493737962
3  1493737962541 -0.0049  0.0060  0.0092  1493737962
4  1493737962568 -0.0046  0.0047  0.0023  1493737962

In [13]:
bkp = xyz_data_sec
bkp.head()

            time       x       y       z    time_sec
0  1493737962462  0.0058  0.0040  0.0076  1493737962
1  1493737962492  0.0047 -0.0009 -0.0081  1493737962
2  1493737962512 -0.0000  0.0053  0.0069  1493737962
3  1493737962541 -0.0049  0.0060  0.0092  1493737962
4  1493737962568 -0.0046  0.0047  0.0023  1493737962

In [14]:
times = tac_data['timestamp'].to_list()
tacs = tac_data['TAC_Reading'].to_list()

dataframe = pd.DataFrame(columns=['pid', 'range_start_tac', 'range_end_tac', 'tac', 'time_acc', 'x', 'y', 'z',])

for i in range(0, len(times) - 1):
    start_range = times[i]
    end_range = times[i+1]
    try:
        check_range = bkp['time_sec'].between(start_range, end_range, inclusive='neither')
        check_range.to_list().index(True)
        # if above check passes that means values exists from start and end range
        
        # temp adding check_range so we can sublist out entries
        temp_xyz = bkp
        temp_xyz['contains'] = check_range
        temp_xyz = temp_xyz.loc[temp_xyz['contains'] == True]
        
        # using as buffer
        temp_xyz = temp_xyz.assign(range_start_tac = start_range)
        temp_xyz = temp_xyz.assign(range_end_tac = end_range)
        temp_xyz = temp_xyz.assign(tac = tacs[i])
        temp_xyz = temp_xyz.assign(pid=pid)

        # print(temp_xyz.head()) # time x y z time_sec contains
        print(len(temp_xyz), len(check_range))
        # sum = sum + len(temp_xyz)
        temp_dataframe = pd.DataFrame()
        temp_dataframe['pid'] = temp_xyz['pid']
        temp_dataframe['range_start_tac'] = temp_xyz['range_start_tac']
        temp_dataframe['range_end_tac'] = temp_xyz['range_end_tac']
        temp_dataframe['tac'] = temp_xyz['tac']
        temp_dataframe['time_acc'] = temp_xyz['time']
        temp_dataframe['x'] = temp_xyz['x']
        temp_dataframe['y'] = temp_xyz['y']
        temp_dataframe['z'] = temp_xyz['z']
        # print(temp_dataframe.head())
        dataframe = pd.concat(objs=[dataframe, temp_dataframe])
        # dataframe = dataframe.concat(temp_dataframe, ignore_index)
    except:
        pass

67494 307526
34294 307526
58918 307526
7176 307526
72371 307526
65597 307526
1557 307526

In [15]:
dataframe.head()

,pid,range_start_tac,range_end_tac,tac,time_acc,x,y,z
0,JR8022,1493737904,1493739745,0.096285,1493737962462,0.0058,0.0040,0.0076
1,JR8022,1493737904,1493739745,0.096285,1493737962492,0.0047,-0.0009,-0.0081
2,JR8022,1493737904,1493739745,0.096285,1493737962512,-0.0000,0.0053,0.0069
3,JR8022,1493737904,1493739745,0.096285,1493737962541,-0.0049,0.0060,0.0092
4,JR8022,1493737904,1493739745,0.096285,1493737962568,-0.0046,0.0047,0.0023

In [16]:
dataframe.to_csv(pid + ".csv")