<a href="https://colab.research.google.com/github/ananya0809/Final-Project-NUS-HPE/blob/yash/DATA_CLEAN_TAC_MC7070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip"

--2022-07-17 05:53:47--  https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160343356 (153M) [application/x-httpd-php]
Saving to: ‘data.zip’

data.zip            100%[===================>] 152.92M  41.8MB/s    in 4.2s

2022-07-17 05:53:52 (36.6 MB/s) - ‘data.zip’ saved [160343356/160343356]

In [2]:
! unzip data.zip

Archive:  data.zip
  inflating: all_accelerometer_data_pids_13.csv
   creating: clean_tac/
  inflating: clean_tac/DK3500_clean_TAC.csv
  inflating: clean_tac/JR8022_clean_TAC.csv
  inflating: clean_tac/SA0297_clean_TAC.csv
  inflating: clean_tac/BU4707_clean_TAC.csv
  inflating: clean_tac/HV0618_clean_TAC.csv
  inflating: clean_tac/SF3079_clean_TAC.csv
  inflating: clean_tac/MJ8002_clean_TAC.csv
  inflating: clean_tac/CC6740_clean_TAC.csv
  inflating: clean_tac/PC6771_clean_TAC.csv
  inflating: clean_tac/MC7070_clean_TAC.csv
  inflating: clean_tac/DC6359_clean_TAC.csv
  inflating: clean_tac/BK7610_clean_TAC.csv
  inflating: clean_tac/JB3156_clean_TAC.csv
  inflating: phone_types.csv
  inflating: pids.txt
   creating: raw_tac/
  inflating: raw_tac/JR8022 CAM results.xlsx
  inflating: raw_tac/DK3500 CAM Results.xlsx
  inflating: raw_tac/MC7070 CAM Results.xlsx
  inflating: raw_tac/DC6359 CAM Results.xlsx
  inflating: raw_tac/HV0618 CAM Results.xlsx
  inflating: raw_tac/MJ8002 CAM Results.xlsx
  inflating: raw_tac/BK7610 CAM Results.xlsx
  inflating: raw_tac/BU4707 CAM results.xlsx
  inflating: raw_tac/SF3079 CAM Results.xlsx
  inflating: raw_tac/CC6740 CAM Results.xlsx
  inflating: raw_tac/JB3156 CAM Results.xlsx
  inflating: raw_tac/PC6771 CAM Results.xlsx
  inflating: raw_tac/SA0297 CAM Results.xlsx
  inflating: README.txt

**IMPORT HANDLING**

In [3]:
import pandas as pd

In [4]:
pid = "MC7070"

**LOADING TAC DATA**

In [5]:
tac_data = pd.read_csv('/content/clean_tac/' + pid + '_clean_TAC.csv')
tac_data

     timestamp  TAC_Reading
0   1493719652    -0.003151
1   1493721476     0.000554
2   1493721794     0.002663
3   1493722111     0.002392
4   1493722427     0.000226
5   1493722743    -0.002259
6   1493723058    -0.003238
7   1493723374    -0.001800
8   1493723689     0.001284
9   1493724005     0.003857
10  1493724321     0.003764
11  1493724637     0.000558
12  1493726456    -0.003767
13  1493728273    -0.005842
14  1493730090    -0.003384
15  1493731908     0.002620
16  1493733725     0.007846
17  1493735544     0.007368
18  1493737362    -0.000225
19  1493739181    -0.010123
20  1493741003    -0.012387
21  1493742825     0.003007
22  1493744647     0.039832
23  1493746471     0.091933
24  1493748313     0.144962
25  1493750155     0.183037
26  1493752001     0.196655
27  1493753845     0.187194
28  1493755691     0.165357
29  1493757534     0.144615
30  1493759379     0.133820
31  1493761224     0.133441
32  1493763069     0.137380
33  1493764912     0.138582
34  1493766756     0.134399
35  1493768599     0.128123
36  1493770443     0.126011
37  1493772286     0.132215
38  1493774127     0.145317
39  1493775967     0.158789
40  1493777808     0.164882
41  1493779648     0.159160
42  1493781487     0.142696
43  1493783327     0.120771
44  1493785170     0.099326
45  1493787010     0.081746
46  1493788849     0.067919
47  1493790689     0.055723
48  1493792529     0.043404
49  1493794368     0.031007
50  1493796206     0.020045
51  1493798028     0.012036
52  1493799851     0.007280
53  1493801672     0.004790
54  1493803494     0.003207
55  1493805314     0.001738

**LOADING THE ACCELEROMETER DATA -- XYZ DATA**

In [6]:
xyz_data = pd.read_csv("/content/all_accelerometer_data_pids_13.csv")
xyz_data = xyz_data.loc[xyz_data['pid'] == pid]
xyz_data.head()

                 time     pid       x       y       z
113422  1493736657665  MC7070 -0.0008 -0.0005  0.0133
113427  1493736657692  MC7070 -0.0007 -0.0034  0.0119
113430  1493736657715  MC7070 -0.0004 -0.0045  0.0123
113435  1493736657742  MC7070 -0.0002 -0.0017  0.0122
113439  1493736657765  MC7070  0.0003  0.0017  0.0124

In [7]:
xyz_data.drop("pid", axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
xyz_data = xyz_data.reset_index()
xyz_data.drop("index", axis=1, inplace=True)

In [9]:
xyz_data.head()

            time       x       y       z
0  1493736657665 -0.0008 -0.0005  0.0133
1  1493736657692 -0.0007 -0.0034  0.0119
2  1493736657715 -0.0004 -0.0045  0.0123
3  1493736657742 -0.0002 -0.0017  0.0122
4  1493736657765  0.0003  0.0017  0.0124

In [10]:
def millisec_to_sec(t):
    return int(t/1000)

In [11]:
xyz_data_sec = xyz_data
xyz_data_sec['time_sec'] = xyz_data_sec['time'].apply(millisec_to_sec)

In [12]:
xyz_data_sec.head()

            time       x       y       z    time_sec
0  1493736657665 -0.0008 -0.0005  0.0133  1493736657
1  1493736657692 -0.0007 -0.0034  0.0119  1493736657
2  1493736657715 -0.0004 -0.0045  0.0123  1493736657
3  1493736657742 -0.0002 -0.0017  0.0122  1493736657
4  1493736657765  0.0003  0.0017  0.0124  1493736657

In [13]:
bkp = xyz_data_sec
bkp.head()

            time       x       y       z    time_sec
0  1493736657665 -0.0008 -0.0005  0.0133  1493736657
1  1493736657692 -0.0007 -0.0034  0.0119  1493736657
2  1493736657715 -0.0004 -0.0045  0.0123  1493736657
3  1493736657742 -0.0002 -0.0017  0.0122  1493736657
4  1493736657765  0.0003  0.0017  0.0124  1493736657

In [14]:
times = tac_data['timestamp'].to_list()
tacs = tac_data['TAC_Reading'].to_list()

dataframe = pd.DataFrame(columns=['pid', 'range_start_tac', 'range_end_tac', 'tac', 'time_acc', 'x', 'y', 'z',])

for i in range(0, len(times) - 1):
    start_range = times[i]
    end_range = times[i+1]
    try:
        check_range = bkp['time_sec'].between(start_range, end_range, inclusive='neither')
        check_range.to_list().index(True)
        # if above check passes that means values exists from start and end range
        
        # temp adding check_range so we can sublist out entries
        temp_xyz = bkp
        temp_xyz['contains'] = check_range
        temp_xyz = temp_xyz.loc[temp_xyz['contains'] == True]
        
        # using as buffer
        temp_xyz = temp_xyz.assign(range_start_tac = start_range)
        temp_xyz = temp_xyz.assign(range_end_tac = end_range)
        temp_xyz = temp_xyz.assign(tac = tacs[i])
        temp_xyz = temp_xyz.assign(pid=pid)

        # print(temp_xyz.head()) # time x y z time_sec contains
        print(len(temp_xyz), len(check_range))
        # sum = sum + len(temp_xyz)
        temp_dataframe = pd.DataFrame()
        temp_dataframe['pid'] = temp_xyz['pid']
        temp_dataframe['range_start_tac'] = temp_xyz['range_start_tac']
        temp_dataframe['range_end_tac'] = temp_xyz['range_end_tac']
        temp_dataframe['tac'] = temp_xyz['tac']
        temp_dataframe['time_acc'] = temp_xyz['time']
        temp_dataframe['x'] = temp_xyz['x']
        temp_dataframe['y'] = temp_xyz['y']
        temp_dataframe['z'] = temp_xyz['z']
        # print(temp_dataframe.head())
        dataframe = pd.concat(objs=[dataframe, temp_dataframe])
        # dataframe = dataframe.concat(temp_dataframe, ignore_index)
    except:
        pass

21976 318600
17103 318600
73540 318600
12121 318600
48402 318600
58446 318600
10988 318600
135 318600
73409 318600
2289 318600

In [15]:
dataframe.head()

,pid,range_start_tac,range_end_tac,tac,time_acc,x,y,z
0,MC7070,1493735544,1493737362,0.007368,1493736657665,-0.0008,-0.0005,0.0133
1,MC7070,1493735544,1493737362,0.007368,1493736657692,-0.0007,-0.0034,0.0119
2,MC7070,1493735544,1493737362,0.007368,1493736657715,-0.0004,-0.0045,0.0123
3,MC7070,1493735544,1493737362,0.007368,1493736657742,-0.0002,-0.0017,0.0122
4,MC7070,1493735544,1493737362,0.007368,1493736657765,0.0003,0.0017,0.0124

In [16]:
dataframe.to_csv(pid + ".csv")