# Download DataSet

In [1]:
! wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip"

--2022-07-15 01:26:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/00515/data.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160343356 (153M) [application/x-httpd-php]
Saving to: ‘data.zip’

data.zip            100%[===================>] 152.92M  44.5MB/s    in 3.9s

2022-07-15 01:26:30 (39.4 MB/s) - ‘data.zip’ saved [160343356/160343356]

In [2]:
! unzip data.zip

Archive:  data.zip
  inflating: all_accelerometer_data_pids_13.csv
   creating: clean_tac/
  inflating: clean_tac/DK3500_clean_TAC.csv
  inflating: clean_tac/JR8022_clean_TAC.csv
  inflating: clean_tac/SA0297_clean_TAC.csv
  inflating: clean_tac/BU4707_clean_TAC.csv
  inflating: clean_tac/HV0618_clean_TAC.csv
  inflating: clean_tac/SF3079_clean_TAC.csv
  inflating: clean_tac/MJ8002_clean_TAC.csv
  inflating: clean_tac/CC6740_clean_TAC.csv
  inflating: clean_tac/PC6771_clean_TAC.csv
  inflating: clean_tac/MC7070_clean_TAC.csv
  inflating: clean_tac/DC6359_clean_TAC.csv
  inflating: clean_tac/BK7610_clean_TAC.csv
  inflating: clean_tac/JB3156_clean_TAC.csv
  inflating: phone_types.csv
  inflating: pids.txt
   creating: raw_tac/
  inflating: raw_tac/JR8022 CAM results.xlsx
  inflating: raw_tac/DK3500 CAM Results.xlsx
  inflating: raw_tac/MC7070 CAM Results.xlsx
  inflating: raw_tac/DC6359 CAM Results.xlsx
  inflating: raw_tac/HV0618 CAM Results.xlsx
  inflating: raw_tac/MJ8002 CAM Results.xlsx
  inflating: raw_tac/BK7610 CAM Results.xlsx
  inflating: raw_tac/BU4707 CAM results.xlsx
  inflating: raw_tac/SF3079 CAM Results.xlsx
  inflating: raw_tac/CC6740 CAM Results.xlsx
  inflating: raw_tac/JB3156 CAM Results.xlsx
  inflating: raw_tac/PC6771 CAM Results.xlsx
  inflating: raw_tac/SA0297 CAM Results.xlsx
  inflating: README.txt

# Handle Imports

In [3]:
import pandas as pd

In [4]:
pid = "MJ8002"

# Load TAC Data

In [6]:
tac_data = pd.read_csv('/content/clean_tac/' + pid + '_clean_TAC.csv')
tac_data

     timestamp  TAC_Reading
0   1493720054    -0.001385
1   1493721878     0.000864
2   1493722199     0.001913
3   1493722520     0.001333
4   1493722842    -0.000256
5   1493723162    -0.001605
6   1493723482    -0.001682
7   1493723802    -0.000398
8   1493724122     0.001296
9   1493724443     0.002063
10  1493724763     0.001177
11  1493725082    -0.000829
12  1493726903    -0.002419
13  1493728725    -0.002149
14  1493730546     0.000099
15  1493732367     0.002729
16  1493734187     0.003425
17  1493736009     0.001150
18  1493737832    -0.002121
19  1493739656    -0.001359
20  1493741481     0.009276
21  1493743307     0.032789
22  1493745149     0.066343
23  1493746991     0.101030
24  1493748833     0.125199
25  1493750677     0.130083
26  1493752519     0.114858
27  1493754363     0.088189
28  1493756209     0.065017
29  1493758053     0.059885
30  1493759880     0.080089
31  1493761722     0.122134
32  1493763564     0.173299
33  1493765405     0.217373
34  1493767248     0.241552
35  1493769092     0.241099
36  1493770934     0.219811
37  1493772776     0.186730
38  1493774616     0.151334
39  1493776458     0.119848
40  1493778298     0.094200
41  1493780139     0.073399
42  1493781979     0.055848
43  1493783820     0.040976
44  1493785666     0.029384
45  1493787506     0.021863
46  1493789346     0.018301
47  1493791185     0.017341
48  1493793008     0.017001
49  1493794832     0.015731
50  1493796655     0.013155
51  1493798478     0.010025
52  1493800302     0.007500
53  1493802126     0.006260
54  1493803949     0.006030
55  1493805770     0.005770
56  1493807596     0.004363
57  1493809418     0.001330
58  1493811240    -0.002856

# Load XYZ Data

In [7]:
xyz_data = pd.read_csv("/content/all_accelerometer_data_pids_13.csv")
xyz_data = xyz_data.loc[xyz_data['pid'] == pid]
xyz_data.head()

                 time     pid       x       y       z
154027  1493736949591  MJ8002  0.0025  0.0043 -0.0027
154031  1493736949616  MJ8002 -0.0003 -0.0013 -0.0051
154035  1493736949641  MJ8002  0.0022  0.0014 -0.0027
154039  1493736949665  MJ8002  0.0006 -0.0010 -0.0047
154043  1493736949691  MJ8002  0.0009 -0.0005 -0.0055

In [8]:
xyz_data.drop("pid", axis=1, inplace=True)

In [9]:
xyz_data = xyz_data.reset_index()
xyz_data.drop("index", axis=1, inplace=True)

In [10]:
xyz_data.head()

            time       x       y       z
0  1493736949591  0.0025  0.0043 -0.0027
1  1493736949616 -0.0003 -0.0013 -0.0051
2  1493736949641  0.0022  0.0014 -0.0027
3  1493736949665  0.0006 -0.0010 -0.0047
4  1493736949691  0.0009 -0.0005 -0.0055

In [11]:
def millisec_to_sec(t):
    return int(t/1000)

In [12]:
xyz_data_sec = xyz_data
xyz_data_sec['time_sec'] = xyz_data_sec['time'].apply(millisec_to_sec)

In [13]:
xyz_data_sec.head()

            time       x       y       z    time_sec
0  1493736949591  0.0025  0.0043 -0.0027  1493736949
1  1493736949616 -0.0003 -0.0013 -0.0051  1493736949
2  1493736949641  0.0022  0.0014 -0.0027  1493736949
3  1493736949665  0.0006 -0.0010 -0.0047  1493736949
4  1493736949691  0.0009 -0.0005 -0.0055  1493736949

In [14]:
bkp = xyz_data_sec
bkp.head()

            time       x       y       z    time_sec
0  1493736949591  0.0025  0.0043 -0.0027  1493736949
1  1493736949616 -0.0003 -0.0013 -0.0051  1493736949
2  1493736949641  0.0022  0.0014 -0.0027  1493736949
3  1493736949665  0.0006 -0.0010 -0.0047  1493736949
4  1493736949691  0.0009 -0.0005 -0.0055  1493736949

In [15]:
times = tac_data['timestamp'].to_list()
tacs = tac_data['TAC_Reading'].to_list()

dataframe = pd.DataFrame(columns=['pid', 'range_start_tac', 'range_end_tac', 'tac', 'time_acc', 'x', 'y', 'z',])

for i in range(0, len(times) - 1):
    start_range = times[i]
    end_range = times[i+1]
    try:
        check_range = bkp['time_sec'].between(start_range, end_range, inclusive='neither')
        check_range.to_list().index(True)
        # if above check passes that means values exists from start and end range
        
        # temp adding check_range so we can sublist out entries
        temp_xyz = bkp
        temp_xyz['contains'] = check_range
        temp_xyz = temp_xyz.loc[temp_xyz['contains'] == True]
        
        # using as buffer
        temp_xyz = temp_xyz.assign(range_start_tac = start_range)
        temp_xyz = temp_xyz.assign(range_end_tac = end_range)
        temp_xyz = temp_xyz.assign(tac = tacs[i])
        temp_xyz = temp_xyz.assign(pid=pid)

        # print(temp_xyz.head()) # time x y z time_sec contains
        print(len(temp_xyz), len(check_range))
        # sum = sum + len(temp_xyz)
        temp_dataframe = pd.DataFrame()
        temp_dataframe['pid'] = temp_xyz['pid']
        temp_dataframe['range_start_tac'] = temp_xyz['range_start_tac']
        temp_dataframe['range_end_tac'] = temp_xyz['range_end_tac']
        temp_dataframe['tac'] = temp_xyz['tac']
        temp_dataframe['time_acc'] = temp_xyz['time']
        temp_dataframe['x'] = temp_xyz['x']
        temp_dataframe['y'] = temp_xyz['y']
        temp_dataframe['z'] = temp_xyz['z']
        # print(temp_dataframe.head())
        dataframe = pd.concat(objs=[dataframe, temp_dataframe])
        # dataframe = dataframe.concat(temp_dataframe, ignore_index)
    except:
        pass

12979 631303
63976 631303
73615 631303
5175 631303
72005 631303
73006 631303
73615 631303
53961 631303
15865 631303
41034 631303
2995 631303
23983 631303
73556 631303
45218 631303

In [16]:
dataframe.head()

,pid,range_start_tac,range_end_tac,tac,time_acc,x,y,z
0,MJ8002,1493736009,1493737832,0.00115,1493736949591,0.0025,0.0043,-0.0027
1,MJ8002,1493736009,1493737832,0.00115,1493736949616,-0.0003,-0.0013,-0.0051
2,MJ8002,1493736009,1493737832,0.00115,1493736949641,0.0022,0.0014,-0.0027
3,MJ8002,1493736009,1493737832,0.00115,1493736949665,0.0006,-0.0010,-0.0047
4,MJ8002,1493736009,1493737832,0.00115,1493736949691,0.0009,-0.0005,-0.0055

In [17]:
dataframe.to_csv(pid + ".csv")